.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 44px 44px 0;

  .logoBlock {
    display: flex;
    flex-direction: row;

    .image {
      width: 44px;
      height: 44px;
      margin-right: 44px;
    }

    .imageNameBlock {
      width: 360px;
      .imageName {
        width: 111px;
        height: 11px;
        margin-top: 17px ;
      }
    }
  }

  .navbarLinks {
    display: flex;
    flex-direction: row;
    width: 340px;
    height: 44px;
    margin-left: 44px;

    p {
     padding-right: 50px;
      font-weight: bold;
      font-size: 12px;
      color: white;
      margin: auto;
    }
  }
}