.imageContainer {
  position: relative;
  max-width: 1700px;

  .worldImage {
    width: 98.5%;
    height: 80vh;
    display: block;
    margin-top: 20px;
    margin-left: -30px;

    @media screen and (max-width: 1600px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 1440px) {
      max-width: 1284px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 984px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 844px;
    }
    @media screen and (max-width: 854px) {
      max-width: 600px;
    }
  }

  .chosenPlaceNY {
    position: absolute;
    top: 22.5%;
    left: 86px;
    font-size: 20px;
    font-weight: 500;
    @media screen and (max-width: 1700px) {
      left: 73px;
    }
    @media screen and (max-width: 1600px) {
      left: 83px;
    }
    @media screen and (max-width: 1440px) {
      left: 53px;
    }
    @media screen and (max-width: 1280px) {
      left: 0px;
    }
    @media screen and (max-width: 1024px) {
      left: 45px;
      top: 23%;
      font-size: 15px;
    }
    @media screen and (max-width: 854px) {
      left: 45px;
      top: 24%;
      font-size: 10px;
    }

    p {
      color: white;
      margin: 0;
      padding: 5px;
    }

    .wrapperPoint {

      display: flex;
      flex-direction: row;

      .arrow {
        width: 205px;
        height: 2px;
        border: 1px solid white;
        margin-top: 4px;
        @media screen and (max-width: 1024px) {
          width: 130px;
        }
        @media screen and (max-width: 854px) {
          width: 80px;
        }
      }

      .pointOnTheMap {
        width: 10px;
        height: 10px;
        margin-left: 15px;
        border: white 5px solid;
        border-radius: 50%;
        @media screen and (max-width: 1440px) {
          border: white 4px solid;
          width: 6px;
          height: 6px;
        }
      }


    }
  }

}


.mainContainer {
  color: white;
  max-width: 1453px;

  .mainTitle {
    position: absolute;
    top: 320px;
    left: 135px;
    font-size: 95px;
    font-weight: 500;
    @media screen and (max-width: 1280px) {
      top: 220px;
      left: 105px;
      font-size: 85px;
    }
    @media screen and (max-width: 854px) {
      top: 180px;
      font-size: 72px;
    }


    @media screen and (max-width: 600px) {
      font-size: 62px;
      font-weight: 500;
      top: 80px;
      left: 60px;
    }
    @media screen and (max-width: 482px) {
      font-size: 50px;
      top: 60px;
      left: 40px;
    }
    @media screen and (max-width: 385px) {
      font-size: 40px;
    }
  }

  .contentWrapper {
    position: absolute;
    top: 590px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 100%;
    left: 135px;
    @media screen and (max-width: 1600px) {
      max-width: 1384px;
      top: 550px;
    }
    @media screen and (max-width: 1440px) {
      max-width: 1184px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 984px;
      top: 390px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 784px;
      top: 330px;
      flex-direction: column;
    }
    @media screen and (max-width: 854px) {
      max-width: 584px;
      top: 300px;
    }


    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      top: 210px;
      left: 60px;
    }
    @media screen and (max-width: 482px) {
      top: 160px;
    }

    .itemsWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 1.7;
      font-size: 20px;
      @media screen and (max-width: 1440px) {
        justify-content: left;
      }
      @media screen and (max-width: 1024px) {
        justify-content: center;
      }

      @media screen and (max-width: 600px) {
        justify-content: left;
        font-size: 18px;
      }

      .firstItemsBlock {
        padding-right: 110px;
        @media screen and (max-width: 1440px) {
          padding-right: 70px;
        }
        @media screen and (max-width: 1024px) {
          padding-right: 30px;
        }
        @media screen and (max-width: 700px) {
          display: none;
        }
      }

      .secondItemsBlock {
        padding-right: 110px;
        @media screen and (max-width: 1440px) {
          padding-right: 70px;
        }
        @media screen and (max-width: 1024px) {
          padding-right: 30px;
        }
        @media screen and (max-width: 600px) {
          padding-right: 60px;
        }
      }

    }

    .descriptionBlock {
      max-width: 700px;
      height: 230px;
      margin-left: 280px;
      margin-right: 20px;

      border: white 3px solid;
      padding: 50px;
      @media screen and (max-width: 1600px) {
        height: 100%;
        margin-left: 230px;
        padding: 40px;
      }
      @media screen and (max-width: 1440px) {
        margin-left: 100px;

      }

      @media screen and (max-width: 1024px) {
        margin-top: 30px;
        max-width: 600px;
        margin-left: 0;

      }

      @media screen and (max-width: 600px) {
        max-width: 90%;
        height: auto;
        margin: 80px 0 0;
      }
      @media screen and (max-width: 500px) {
        margin: 60px 0 0;
        padding: 35px;
      }

      .descriptionTitle {
        font-size: 20px;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }

      .descriptionText {
        font-size: 16px;
        padding-top: 15px;
        line-height: 2;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          line-height: 1.5;
        }

      }
    }
  }
}