.imageContainer {
  position: relative;
  .worldImage {

    max-width: 1584px;
    height: 85vh;

   // background: #ff0090;

    display: block;
    margin:  0 auto;
    top: 20px;
    left: 40px;
    @media screen and (max-width: 1600px) {
      max-width: 1384px;
    }  @media screen and (max-width: 1440px) {
      max-width: 1184px;
    }  @media screen and (max-width: 1280px) {
      max-width: 984px;
    }  @media screen and (max-width: 1024px) {
      max-width: 784px;
    }
    @media screen and (max-width: 854px){
      max-width: 584px;
    }
  }

}


.mainContainer {
  color: white;
  max-width: 1453px;

  background: #f3060e;

  a:hover {
    color: #f3060e;

  }



  .mainTitle {
    position: absolute;
    top: 320px;
    padding-left: 135px;
    font-size: 95px;
    font-weight: 500;
    @media screen and (max-width: 600px) {
      font-size: 65px;
      font-weight: 500;
      top: 80px;
      padding-left: 60px;
    }
    @media screen and (max-width: 482px){
      font-size: 50px;
      top: 60px;
    }  @media screen and (max-width: 385px){
      font-size: 40px;
      top: 60px;
    }
  }

  .contentWrapper {
    position: absolute;
    top: 590px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 100%;
    padding-left: 135px;
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      top: 210px;
      padding-left: 60px;
    }
    @media screen and (max-width: 482px){
      top: 160px;
    }

    .itemsWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 1.7;
      font-size: 20px;
      @media screen and (max-width: 600px) {
        justify-content: left;
        font-size: 18px;
      }

      .firstItemsBlock {
        padding-right: 110px;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      .secondItemsBlock {
        padding-right: 110px;
        @media screen and (max-width: 600px) {
          padding-right: 60px;
        }
      }


    }

    .descriptionBlock {
      width: 700px;
      height: 230px;
      margin-left: 280px;

      border: white 3px solid;
      padding: 50px;
      @media screen and (max-width: 600px) {
        max-width: 90%;
        height: 280px;
        margin: 80px 0 0;
      }
      @media screen and (max-width: 500px) {
        height: 330px;
        margin: 60px 0 0;
        padding: 35px;
      }

      .descriptionTitle {
        font-size: 20px;
      }

      .descriptionText {
        font-size: 16px;
        padding-top: 15px;
        line-height: 2;
        @media screen and (max-width: 600px) {
          line-height: 1.5;
        }
        @media screen and (max-width: 390px){
          font-size: 14px;
        }
      }
    }
  }
}